doctype html
html
  head
    title iot.sc-nm.si
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="index.css")
    script(src="index_frontend.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
    script(script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body(id="body")
    header
      div(class="container-fluid")
        nav(class="navbar navbar-expand-sm navbar-light")
          a(class="navbar-brand" id = "logo_area")
            img(src="scnm_logo.png" id = "logo")
            |  iot.sc-nm.si
          
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
          div(class="collapse navbar-collapse justify-content-end" id="navbarNav")
            ul(class="navbar-nav")
              li(class="nav-item" id = "log_out_nav_item")
                a(class="nav-link" href="/Prijava" id = "login")
                  img(src="login.png" id = "login_icon")
                  |  Prijava
    div(class="container" id = "content_area")
      div(class="row")
        div(class="col-xl-12" id = "search_filter_bar")
          div(class="row")
            div(class="col-xl-8 col-lg-7 col-md-5 col-sm-6")
              h5(id = "projects")
                img(src="project.png")
                |  Vsi projekti na SCNM
            div(class="col-xl-4 col-lg-5 col-md-7 col-sm-6" id = "scidrom_logo_holder")
              img(src="scidrom.jpg" id = "scidrom_logo")
      div(class="row")
        div(class="col-xl-12" id = "links_area")
          div(class="row")
            each i in results
                div(class="col-xl-4 col-lg-6 col-md-6")
                  a(href=i.link)
                    div(class="card")
                      img(src="./link_pictures/"+i.LinkImgName class="card-img-top" class = "link_img")
                      div(class="card-body")
                        h3(class="title")= i.linkTitle
                        hr
                        p(class="card-text")= i.LinkDescription
              
