*{
    padding: 0px;
    margin: 0px;
}
#wrapper{
    height: 100vh;
}
body{
    font-family: 'Open Sans', sans-serif !important;
}
input{
    display: blocK;
    width: 80%;
}
form > input{
    margin: 0 auto;
    margin-top: 5px;
}
#results{
    text-align: center;
    color: black;
}
#login_form{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border-radius: 7px;
    background-color: #c7c7c7 !important;
    position: relative;
    color: white !important;
    top: 20%;
}
form{
    position: relative;
    top: 10%;
}
h1{
    text-align: center;
}
#error{
    text-align: center;
    color: red !important;
}
input:nth-child(4){
    background-color: #777;
    color: white;
    border: solid 1px #777;
}
@media only screen and (max-width: 575px){
    #login_form{
        min-width: 200px;
        width: auto;
        top: 15%;
        border: none;
        background-color: white !important;
    }
    h1{
        color: black !important;
    }
    body, #wrapper{
        overflow-y: hidden !important;
    }
}